// Cards
.content[role="main"], .side .titlebox, .side .sidecontentbox, .sidebox.create, .side .account-activity-box, .side .sidebox.submit, .side .linkinfo, .side #searchexpando, .side .sidebox.submit a, .titlebox form.toggle, .leavemoderator, .roundfield, .shortlink, #shortlink-text {
  background-color: $nm-card-bg;
  color: $nm-sub-fg;
}
// Sidebar content color
.titlebox h1 a, .md { color: $nm-sub-fg; }

// Buttons
button, input[type="button"], .content[role="main"] input[type="submit"], .tabmenu.formtab a, .nextprev a {
  background-color: $nm-button-bg;
  color: $nm-button-fg;
}

// Text inputs, flairs
textarea, #shortlink-text, .flair, input[type=text] {
  background-color: transparent;
  color: $nm-sub-fg;
  border-color: $nm-input-border;
}

// Links
a, .md a, .thing .title, .wiki-page h2, .morelink a, .entry .buttons a.comments {
  color: $nm-link-color;
}

.thing .title:visited { color: $nm-link-visited-color;  }

// Comments top border, left nesting border color
.commentarea .comment .child, .nestedlisting>.thing {
  border-color: $nm-border;
}

// "Links From" area
.menuarea { color: $nm-sub-fg !important; }

// Moderator and OP Highlight colors
.commentarea .submitter.author, .userattrs a.submitter {
  background-color: $nm-op-highlight;
}

.commentarea .moderator.author, .userattrs a.moderator {
  background-color: $nm-moderator-highlight;
}

// Dim Flairs and thumbnails a bit
.tagline>.flair, .thumbnail { @extend %nm-faded; }
