// Top "other subs" bar
.width-clip {
  background-color: $black;
  border-color: $dark-grey;
  #sr-more-link { background-color: $dark-grey; color: $grey; }
}

#header {
  box-shadow: inset 0 292px 0 rgba(0,0,0,0.6);
  background-color: #ccc;
}

#header-bottom-left {
  background-color: lighten($nm-card-bg, 10%);
  border-color: lighten($nm-card-bg, 15%);
}

#header-bottom-right {
  background-color: $nm-card-bg;
  border: none;
}

.pagename a {
    background: url(%%emblem-new-bust-nightmode%%) calc(50% - -4px) calc(50% - 4px) no-repeat,
                url(%%emblem-bkg-white-nightmode%%) center center no-repeat;
}

a#header-img, a#header-img-a {
    background: url(%%intro-snoo-nightmode%%) center center no-repeat !important;
    &:hover {
      background-image: url(%%intro-snoo-hover-nightmode%%) !important;
    }
}
