%hlchoice { background-color: lighten($nm-card-bg, 10%); }
%choice {
  background-color: lighten($nm-card-bg, 5%);
  color: $nm-sub-fg;
}

.side {

  // Tag dropdown
  blockquote {
    > ul {
      strong { color: $nm-sub-fg; }
      &:hover {
        li a {
          &:hover { @extend %hlchoice; }
          @extend %choice;
        }
        strong { @extend %choice; }
      }
    }
  }

  hr { background-color: $nm-sub-fg; }

  // Subscription area
  .subscribers, .users-online { color: $nm-sub-fg; }
  .subscribe-button a { background-color: $nm-link-color !important; }

  // Get rid of submit button rounded edges
  .sidebox.submit a { @include border-radius(0px); }

  // Sidebar content color
  .titlebox h1 a, .md { color: $nm-sub-fg; }
}

.drop-choices a.choice {
  @extend %choice;
  &:hover { @extend %hlchoice; }
}
