// Things
&.listing-page .content[role="main"] .thing { border-top: solid 1px $nm-border; }

// Thing arrows
.arrow {
  background-image: url(%%res-night-arrows%%) !important;
  &.up {
    background-position: -15px 0;
    &:hover { background-position: -30px 0; }
  }
  &.upmod { background-position: 0 0; }

  &.down {
    background-position: -15px -14px;
    &:hover { background-position: -30px -14px; }
  }
  &.downmod { background-position: 0 -14px; }
}

.linkflair {
  &-newQuestionable { box-shadow: inset 4px 0 0 #F9A825; }
  &-newExplicit { box-shadow: inset 4px 0 0 #D81B60; }
}

.entry {
  .title > .linkflairlabel {
    background-color: transparent;
    color: $nm-secondary;
  }

  .buttons li a { color: $nm-secondary;  }
}

.expando-button { @extend %nm-faded; }
