// Sub-wide color scheme (spoilers, it's a lot of the material design color
// scheme taken from Chrome's dev tools)

// Material Pallette
$red: #f44336;
$rose: #e91e63;
$violet: #9c27b0;
$indigo: #673ab7;
$burple: #3f51b5;
$blue: #2196f3;
$cyan: #03a9f4;
$aqua: #00bcd4;
$blue-green: #009688;
$jade: #4caf50;
$green: #8bc34a;
$yellow-green: #cddc39;
$yellow: #ffeb3b;
$goldenrod: #ffc107;
$orange: #ff9800;
$red-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;
$light-slate: darken(#607d8b, 5%);
$slate: darken($light-slate, 15%);

// A couple of other colors
$white: #fff;
$black: #282828;
$light-peach: #F9F1E7;

// Shades
$light-grey: lighten($grey, 30%);
$dark-grey: darken($grey, 25%);
$dark-blue: darken($blue, 25%);
$light-aqua: lighten($aqua, 25%);
$dark-cyan: darken($cyan, 20%);

// Colors of Jubliation
$christmas-red: darken($red, 15%);
$christmas-dark-red: darken($christmas-red, 10%);
$christmas-green: $jade;
$christmas-dark-green: darken($christmas-green, 25%);
$christmas-peach: darken($light-peach, 5%);
$christmas-gold: darken($goldenrod, 3%);
