@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

%card {
  box-shadow: 0 1px 3px rgba($black, 0.3);
  @include border-radius($card-radius);
  padding: 16px;
  background-color: $white;
  border: none;
}

@mixin button($fg, $bg) {
  @extend %card;
  color: $fg;
  background-color: $bg;
  padding: 6px 18px;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  transition-property: box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  &:hover {
    box-shadow: 0 2px 5px rgba($black, 0.3);
    border: 0;
  }
}

%button {
  @include button($dark-grey, $light-grey);
}

@mixin marker-label($color) {
  box-shadow: inset 4px 0 0 $color;
}

@mixin custom-sprite($x, $y) {
  background-image: url(%%custom-sprites%%);
  background-position: $x $y;
  // Thumbnail fix, #thanksrcssnews for being only vaguely helpful in describing
  // the fix for this.
  // https://www.reddit.com/r/cssnews/comments/54shs4/upcoming_css_change_hires_versions_of_default/
  background-size: initial !important;
}

@mixin popup($width) {
  @extend %card;
  color: $popup-foreground;
  background-color: $popup-background;

  position: absolute;
  display: block;
  z-index: 1000;
  white-space: normal;
  width: $width;
  padding: 16px;
  text-align: center;
  font-size: small;
  font-weight: bold;
}

@mixin page-color($color) {
  #header {
    background-color: $color;
    .tabmenu li.selected a { border-color: $color; }
  }
}

%content-footer {
  display: block;
  margin: 16px -16px -31px -31px;
  padding: 16px;
  color: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.05);
  border-top: solid 1px rgba(0,0,0,0.08);
}

%bepawprinted {
  background: $white url(%%corner-paws%%) bottom 8px right 8px no-repeat;
}

@mixin fade($pct) {
  opacity: $pct;
}

%nm-faded { @include fade(0.65); }

%general-flair {
  background-color: transparent;
  background-repeat: no-repeat;
  min-width: 30px; 
  height: 30px; 
  line-height:28px; 
  text-indent:33px; 
  margin-left: 6px;
  border: 0px solid black;
  vertical-align: middle;
}

@mixin intro-flair($y) {
  @extend %general-flair;
  background-image: url(%%IntroSnoo%%);
  background-position: 0 $y;
}

@mixin paw-flair($y) {
  @extend %general-flair;
  background-image: url(%%ShaunSPPaws%%);
  background-position: 0 $y;
}

@mixin shaunsp-face($y) {
  @extend %general-flair;
  background-image: url(%%ShaunSPFaces%%);
  background-position: 0 $y;
}

%pyong-face {
  @extend %general-flair;
  background-image: url(%%Pyong%%);
  min-width: 20px; 
  height: 20px; 
  line-height: 20px; 
  text-indent:25px;
  margin-left: 0;
}

@mixin pyong-face($y) {
  @extend %pyong-face;
  background-position: 0 $y;
}

%pyong-emote {
  background-image: url(%%Pyong%%) !important;
  display:inline-block !important;
  overflow: hidden !important;
  height: 22px !important;
  width: 22px !important
}

@mixin pyong-emote($y) {
  @extend %pyong-emote;
  background-position: 0 $y !important;
}

%intro-emote {
  background:url(%%IntroSnoo%%) !important;
  display:inline-block !important;
  overflow: hidden !important;
  height: 30px !important;
  width: 30px !important
}

@mixin intro-emote($y) {
  @extend %intro-emote;
  background-position: 0 $y !important;
}

@mixin badge-label($bg, $fg) {
  @include border-radius($card-radius);
  padding: 4px 3px 3px;
  background-color: $bg !important;
  color: $fg !important;
  font-size: x-small;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

%badge-label {
  @include badge-label($light-grey, $dark-grey);
}
