// Variables

// General
$sub-bg: $light-peach;
$sub-fg: $dark-grey;
$sub-font-family: roboto,arial,helvetica,verdana,sans-serif;
$users-text: " Furries";
$online-text: " Currently Yapping";
$link-color: $dark-cyan;
$card-radius: 2px;

$moderator-highlight: $green;
$op-highlight: $blue;

$popup-background: $cyan;
$popup-foreground: $white;

// Header
$frontpage-color: $light-aqua;
$new-color: $yellow-green;
$rising-color: $violet;
$controversial-color: $red-orange;
$top-color: $goldenrod;
$wiki-color: $slate;

$frontpage-color-wide: lighten($frontpage-color, 15%);
$new-color-wide: lighten($new-color, 15%);
$rising-color-wide: lighten($rising-color, 15%);
$controversial-color-wide: lighten($controversial-color, 15%);
$top-color-wide: lighten($top-color, 15%);
$wiki-color-wide: lighten($wiki-color, 15%);

$other-subs-bg: $slate;
$other-subs-fg: $light-peach;
$tabmenu-background: $slate;
$tabmenu-foreground: $light-peach;

$dropdown-foreground: $slate;
$dropdown-header-foreground: rgba($black, 0.6);
$dropdown-background: $white;
$dropdown-hover-background: $light-grey;

// Sidebar
$sidebar-width: 318px;
$subscribe-button-color: $slate;
$submit-buttons-background: $brown;
$submit-buttons-foreground: $light-peach;
$submit-buttons-hover: $jade;

// Submit Page
$submit-page-button-active-background: $slate;
$submit-page-button-active-foreground: $light-peach;

// Post Page
$shortlink-background: rgba($black, 0.05);
$shortlink-foreground: $blue;
$comment-form-background: $shortlink-background;

// Nightmode Colors
$nm-link-color: $blue-green;
$nm-link-visited-color: $rose;
$nm-sub-fg: $grey;
$nm-secondary: darken($nm-sub-fg, 20%);
$nm-sub-bg: #161616;
$nm-card-bg: $black;
$nm-sticky-color: $jade;
$nm-button-bg: lighten($nm-card-bg, 5%);
$nm-button-fg: $grey;
$nm-input-border: $grey;
$nm-moderator-highlight: $jade;
$nm-op-highlight: $light-slate;
$nm-border: lighten($nm-card-bg, 12%);
$nm-advisory-bg: $blue-green;
$nm-advisory-fg: $white;
