.link .flair {
    font-size: x-small;
    margin-top: 0px;
    margin-left: 5px;
}

// Pyong Emotes
.flair-smile { @include pyong-face(-2px); } 
.flair-frown { @include pyong-face(-26px); } 
.flair-amazed { @include pyong-face(-50px); } 
.flair-tears { @include pyong-face(-74px); } 
.flair-gasping { @include pyong-face(-98px); } 
.flair-laughing { @include pyong-face(-122px); } 
.flair-seriously { @include pyong-face(-146px); }

// ShaunSP Animals
.flair-Cat { @include shaunsp-face(0); } 
.flair-Dog { @include shaunsp-face(-30px); } 
.flair-Fox { @include shaunsp-face(-60px); } 
.flair-Rabbit { @include shaunsp-face(-90px); } 
.flair-Dragon { @include shaunsp-face(-120px); } 
.flair-Bird { @include shaunsp-face(-150px); } 
.flair-Otter { @include shaunsp-face(-180px); } 
.flair-Raccoon { @include shaunsp-face(-210px); } 
.flair-Deer { @include shaunsp-face(-240px); } 
.flair-Kangaroo { @include shaunsp-face(-270px); } 
.flair-Wolf { @include shaunsp-face(-300px); } 
.flair-Bat { @include shaunsp-face(-330px); } 
.flair-Bear { @include shaunsp-face(-360px); } 
.flair-Badger { @include shaunsp-face(-390px); } 
.flair-Beaver { @include shaunsp-face(-420px); } 
.flair-Dog2 { @include shaunsp-face(-450px); } 
.flair-Mouse { @include shaunsp-face(-480px); } 
.flair-Sergal { @include shaunsp-face(-510px); } 
.flair-Primate { @include shaunsp-face(-540px); } 

// ShaunSP Paws and Hoot
.flair-Paw1 { @include paw-flair(-30px); }
.flair-Paw2 { @include paw-flair(-60px); }
.flair-Paw3 { @include paw-flair(-90px); }
.flair-Paw4 { @include paw-flair(-120px); }
.flair-Paw5 { @include paw-flair(-150px); }
.flair-Paw6 { @include paw-flair(-180px); }
.flair-Paw7 { @include paw-flair(-210px); }
.flair-Paw8 { @include paw-flair(-240px); }
.flair-Hoof1 { @include paw-flair(-270px); } 

// Pokefur Flair
.flair-PKFur {
  @extend %general-flair;
  background-image: url(%%PKFur%%);
}

// IntroIntroduction flairs
.flair-IntroSnoo1 { @include intro-flair(0); }
.flair-IntroSnoo2 { @include intro-flair(-30px); }
.flair-IntroSnoo3 { @include intro-flair(-60px); }
.flair-IntroSnoo4 { @include intro-flair(-90px); }
.flair-IntroSnoo5 { @include intro-flair(-120px); }
.flair-IntroSnoo6 { @include intro-flair(-150px); }
