.sheets {
    margin-right: 0;
    padding: 16px;
}

.pretty-button, .reported-stamp {
    @extend %button;
    padding: 3px 8px;

    background-image: none !important;
    color: $dark-grey;
    font-size: 9px;

    background-color: $light-grey;
    &.negative {
      background-color: $red;
      color: darken($red, 40%);
    }

    &.positive {
      background-color: $yellow-green;
      color: darken($yellow-green, 40%);
    }

    &.pressed {
      background-color: $goldenrod;
      color: darken($goldenrod, 40%);
    }
}

.approval-checkmark {
  border: dotted 2px $green;
  @include border-radius(50%);
  height: 10px;
  width: 10px;
  padding: 2px;
  vertical-align: -4px;
}
