/* Report advisory */
.report-button:hover:after {
  @include popup(350px);
  margin-left: 25px;
  margin-top: 5px;
  content: "Please also message the moderators a link and reason as to why you are reporting this. Thanks!";
}

/* Downvote advisory */
.arrow.down:hover:before {
  @include popup(210px);
  margin-left: 25px;
  margin-top: -10px;
  content: " Please don't abuse the downvote button";
}
