body {
  background-color: $sub-bg;
  color: $sub-fg;
  font-family: normal x-small $sub-font-family;
  min-width: 942px;
}

// Rounded stuff
.rounded {
  @include border-radius(1px);
}

// Links
a, .md a, .thing .title, .wiki-page h2, .morelink a, .entry .buttons a.comments {
  color: $link-color;
}

// Buttons
button, input[type="button"], .content[role="main"] input[type="submit"], .tabmenu.formtab a, .nextprev a {
  @extend %button;
}

// Inputs
textarea, input[type="text"], input[type="url"] {
    border-color: lighten($grey, 15%);
    border-width: 1px;
    box-shadow: none;
}

// Lists
.content[role="main"] ol, .usertext ol, .content[role="main"] ul:not(.flat-list), .usertext ul {
    padding-left: 16px;
}

// Dropdowns
.drop-choices {
  @extend %card;
  padding: 0;
  &.lightdrop a {
    padding: 8px;
    color: $dropdown-foreground !important;
  }

  a.choices:hover {
    background-color: $dropdown-hover-background !important;
  }
}

// This was a bug fix, but I don't remember what for. Leaving it here for now
.md blockquote {
    display: inline-block !important;
}

// When there are no comments, search results, posts, etc.
#noresults {
  margin-right: 0;
  color: $grey;
  font-size: large;
  text-align: center;
  margin: 64px 0;
}

// Spoiler Text
a[href$='#spoiler'] {
  background-color: $slate;
  color: transparent;
  &:hover {
    color: $white;
  }
}

