.commentarea {
  > .usertext {
    margin: 0 -16px 16px -16px;
    padding: 16px;
    background-color: $comment-form-background;
    border: solid 1px rgba($black, 0.1);
    border-width: 1px 0;
  }

  .usertext-buttons { padding: 4px; }

  .thing {
    padding: 0 16px 0 24px !important;
    margin-top: 16px !important;
  }

  .comment .child {
    border-left: solid 1px rgba(0,0,0,0.1);
  }
}

.expand {
  color: transparent !important;
  position: relative;
  left: 12px;
  margin-left: -16px;

  &:before {
    @include badge-label($light-grey, $dark-grey);
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.noncollapsed .expand:before { content: '-'; }
.collapsed .expand:before { content: '+'; }

// These have to do with root comments... I believe that about the first
// deinition, the one following I'm not sure on.
.nestedlisting>.thing {
  border-top: solid 1px rgba(0,0,0,0.1);
  margin-top: 24px !important;
  padding-top: 24px !important;
}

.thing.self .usertext-body>.md {
  border: solid rgba(0,0,0,0.2);
  border-width: 0 0 0 2px;
  background:transparent;
}
