.entry {
  padding-left: 4px;

  .tagline {
    color: $grey;
    line-height: 16px;
    font-size: small;
  }

  .title > .linkflairlabel {
    @extend %badge-label;
    vertical-align: bottom;
  }

  .domain {
    color: transparent; // Make the parens disappear
    a { color: $grey; }
  }

  .buttons li a {
    color: $grey;
    font-size: small;
    font-weight: normal;
    &.comments {
      color: $link-color;
      font-weight: bold;
    }
  }
}
