// Tag Dropdown + "Links From" Dropdown

// First, if the we aren't on a search or listing page, hide the tag filter
body:not(.listing-page):not(.search-page) .side blockquote {
    display: none !important;
}

.side {
  blockquote {
    position: absolute;
    top: 298px;
    left: 18px;
    z-index: 50;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;

    strong {
      color: $dropdown-header-foreground;
      padding: 8px 16px;
      display:block;
      cursor: pointer;
    }

    li a {
      display:none;
      padding: 8px 16px;
    }

    > ul {
      list-style-type: none;
      padding: 0;
      &:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        background-color: $dropdown-background;

        strong {
          background-color: $dropdown-background;
          color: rgba(0,0,0,0.6);
        }
        li a {
          display: block;
          color: $dropdown-foreground !important;
          background-color: $dropdown-background;
          &:hover {
            background-color: $dropdown-hover-background;
          }
        }
      }
    }
  }
}
