// The header
#header {
  height: 276px;
  border-bottom: 0;
  box-shadow: inset 0 292px 0 rgba(255,224,128,0.1),
              inset 0 292px 0 rgba(255,255,255,0.35),
              0 1px 3px rgba($black,0.2);
  background: url(%%card-1%%)  -2%  0 no-repeat,
              url(%%card-2%%)   9%  0 no-repeat,
              url(%%card-3%%)  20%  0 no-repeat,
              url(%%card-4%%)  30%  0 no-repeat,
              url(%%card-5%%)  40%  0 no-repeat,
              url(%%card-6%%)  60%  0 no-repeat,
              url(%%card-7%%)  70%  0 no-repeat,
              url(%%card-8%%)  80%  0 no-repeat,
              url(%%card-9%%)  91%  0 no-repeat,
              url(%%card-10%%) 102% 0 no-repeat,
              url(%%bkg-stripe%%);
  background-color: $frontpage-color;
  background-size: 13%;
  background-position-y: 50%;
}

// The emblem
.pagename a {
  color: transparent !important;
  position: absolute;
  left: calc(50% - 96px);
  top: 40px;
  background: url(%%emblem-new-bust%%) calc(50% - -4px) calc(50% - 4px) no-repeat,
              url(%%emblem-bkg-white%%) center center no-repeat;
  display:block;
  width: 192px;
  height: 192px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.75);
  }
}

// The tabmenu and its background
#header-bottom-left {
  margin-top: 244px !important;
  width: calc(100% - 410px);
  margin-left: 16px;
  background-color: $tabmenu-background;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  border-bottom: solid 2px $tabmenu-background;
  padding: 6px 0 6px 52px;
  color: $tabmenu-foreground;
  @include border-radius($card-radius $card-radius 0 0);
}

#header .tabmenu {
  li {
    margin: 0;
    a {
      color: $tabmenu-foreground; // this was $grey
      text-transform: uppercase;
      background: transparent;
      border: 0;
      font-weight: 600;
      padding: 5px 8px;
      &:hover {
        border-bottom: solid 3px rgba($white, 0.15);
      }
    }

    &.selected a {
      border-bottom: solid 3px rgba($white, 0.4);
      padding: 11px 16px 5px 16px;
      background-color: rgba($white ,0.15);
    }
  }
}

// Twisty Snoo
a#header-img, a#header-img-a {
  height: 64px !important;
  width: 64px !important;
  background: url(%%intro-snoo%%) center center no-repeat !important;
  position: absolute;
  left: 12px;
  top: 241px;

  transition-property: transform;
  transition-duration: 0.45s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    background-image: url(%%intro-snoo-hover%%) !important;
    transform: rotateZ(-13deg);
  }

  // Reddit. Every time you get excited or it's President's Day or something,
  // you always change the way the freakin logo works. And so we have to do
  // stupid ridiculous things like this to counteract it. It would be wonderful
  // if one day you stopped.
  > img#header-img {
    display:none;
  }
}


// The user details thingy
#header-bottom-right {
  @extend %card;
  background: #FFF;
  right: 16px;
  bottom: -18px;
  padding: 9px;
  width: 298px;
  .message-count {
    color: $white !important;
  }
}

// "Other Subreddits" header at the very top
.width-clip {
  background-color: $other-subs-bg;
  border-bottom: solid 1px $other-subs-fg;
  padding: 2px;

  a, .dropdown .title {
    color: $other-subs-fg;
    font-weight: bold;
  }

  .drop-choices {
    background-color: $other-subs-bg;
    padding-bottom: 16px;
    a {
      color: $other-subs-fg;
      padding: 3px 16px;
      &:hover {
        background-color: rgba($white, 0.2);
      }
    }
  }

}

#sr-more-link {
  padding: 2px 16px;
}
