.content[role="main"] {
  @extend %card;
  @extend %bepawprinted;
  margin: 16px 342px 0 16px;
  padding: 48px 16px 16px 16px !important;  /* Important because RES */

  .md-container {
    margin-right: 0px;
  }

  // "Links From" area on top page, for example
  .menuarea {
    border-bottom: none;
    padding: 0 16px 12px 22px;
    margin: 0 -16px 16px -16px;
    text-transform: uppercase;
    color: $grey;
    font-weight: bold;
  }

  .nav-buttons {
    @extend %content-footer;
    margin: 8px -17px -21px -17px;
  }

}

@import "thing";

// Not sure how to incorporate this into the above style, so I'm leaving it here
body.listing-page .content[role="main"] .thing {
    padding: 12px 0 8px 9px;
    border-top: solid 1px rgba(0,0,0,0.1);
}
