// Content Page

// Styling for comments
@import "comment";

// Score card
.linkinfo {
  .date { color: $dark-grey; }
  .score {
    margin-top: 11px;
    .word {
      font-size: larger;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 2px;
    }
  }

  .shortlink {
    margin: 12px -16px -16px !important;
    background-color: $shortlink-background;
    padding: 16px !important;
    color: $shortlink-foreground;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-small !important;
    border-top: solid 1px rgba(0,0,0,0.05);

    #shortlink-text {
      background: transparent;
      border: none;
      color: $shortlink-foreground;
      border-width: 0 0 2px 0 !important;
      border-color: $shortlink-foreground !important;
      font-size: medium !important;
    }
  }
}

// Random thing... maybe figure out where this fits sometime.
.panestack-title {
    border-bottom: none;
    margin-right: 0;
}
