.blueButton {
    color: #fff;
}

.res-userbar-toggle {
  @include border-radius($card-radius);
  height: 18px !important;
  width: auto !important;
  padding: 4px !important;
  margin-top: 2px;
  right: 4px;
}

body.res {

  // RES 5 is fatter than ever! :D
  min-width: 1072px !important;

  .RESshortcut, .RESDashboardToggle {
    float: right !important;
  }

  .res-floater-visibleAfterScroll {
    @extend %card;
    padding: 2px;
  }

  // Subscribers number, and the nearby dashboard and shortcut buttons
  .subscribers {
    margin-top: -70px;
  }
  .RESshortcut, .RESDashboardToggle {
    float: right !important;
  }

  // Attach the user area to the top
  #header-bottom-right {
    width: auto;
    right: 0;
    padding: 4px 8px;
  }

  // Scooch sidebar up since the user area will be up at the top
  .side {
    margin-top: 8px;
  }

  // Thing authors that are moderators, use the designated moderator color
  .content[role="main"] .thing .author.moderator {
    @include border-radius(0px);
    background-color: $moderator-highlight !important;
    padding: 2px;
  }

}

.expando-button.video-muted {
  &.collapsed {
    background-position: 0 0;
    &:hover {
      background-position: 0 -24px;
    }
  }

  &.expanded {
    background-position: 0 -48px;
    &:hover {
      background-position: 0 -72px;
    }
  }
}
