@media (min-width: 1440px)
{
  #header {
    background-size: 11.3%;
    background-position-y: 55%;
  }
}

@media (min-width: 1720px)
{
  #header {
    background: url(%%card-5%%)  calc(50% - 128px) 0 no-repeat,
                url(%%card-6%%)  calc(50% - -128px) 0 no-repeat,
                url(%%card-4%%)  calc(50% - 296px) 0 no-repeat,
                url(%%card-7%%)  calc(50% - -296px) 0 no-repeat,
                url(%%card-3%%)  calc(50% - 464px) 0 no-repeat,
                url(%%card-8%%)  calc(50% - -464px) 0 no-repeat,
                url(%%card-2%%)  calc(50% - 632px) 0 no-repeat,
                url(%%card-9%%)  calc(50% - -632px) 0 no-repeat,
                url(%%card-1%%)  calc(50% - 800px) 0 no-repeat,
                url(%%card-10%%)  calc(50% - -800px) 0 no-repeat,
                url(%%bkg-stripe%%);
    background-color: $frontpage-color-wide !important;
    background-position-y: 20px;
    background-size: 192px;
  }

  .new-page #header{ background-color: $new-color-wide !important; }
  .rising-page #header{ background-color: $rising-color-wide !important; }
  .controversial-page #header{ background-color: $controversial-color-wide !important; }
  .top-page #header{ background-color: $top-color-wide !important; }
  .wiki-page #header{ background-color: $wiki-color-wide !important; }
}

@media (max-width: 1222px)
{
  .res #header-bottom-left {
    font-size: 7pt;
  }
}

@media (max-width: 1264px)
{
  .pagename a {
    transform:scale(0.75);
    top: 20px;
  }

  #header {
    height: 226px;
    background-position-y: 60%;
  }

  #header-bottom-left {
    margin-top: 195px !important;
  }

  a#header-img {
    top: 192px;
  }

  .side blockquote {
    top: 245px;
  }

  .wiki-page .pageactions {
    top: 245px;
  }
}
