html[lang="sc"] {
  .listing-page .link.linkflair {
    &-newQuestionable, &-newExplicit { display: none; }
  }

  .search-page .linkflair {
    &-newQuestionable, &-newExplicit { display: block; }
  }

  #siteTable:before {
    content: "You are currently in the SFW mode of the /r/furry subreddit. All Questionable and Explicit threads have been hidden.";
    display: block;
    max-width: 800px;
    background-color: $goldenrod;
    padding: 5px 10px;
    margin: 0px 305px 5px 0px;
    border: 1px solid $orange;
    font-size: small;
  }

}
