.side {
  width: $sidebar-width;
  margin-top: 22px;
  margin-right: 14px;
  background: transparent;

  // All sidebar things that are cards
  .titlebox, .sidecontentbox, .sidebox.create, .account-activity-box, .linkinfo, #searchexpando {
    @extend %card;
  }

  .sponsorshipbox {
    @extend %card;
    padding: 8px;
  }

  // Subscribe Button, "Furries Currently Yapping"
  @import "subscribers";

  // Submit buttons
  .sidebox.submit {
    padding: 0;
    a {
      @include button($submit-buttons-foreground, $submit-buttons-background);
      width: auto;
      letter-spacing: 0;
      &:hover {
        background-color: $submit-buttons-hover !important;
      }
    }

    // Don't know where the hell those stupid submit background image are being
    // but this'll take care of it
    * {
      background-image: none;
      border: none;
      height: auto;
    }
  }

  // Search box
  #search input[type=text] {
    @extend button;
    text-transform: none;
    background-color: $white;
    width: $sidebar-width - 1px;
    padding: 12px;
    font-family: normal x-small verdana,arial,helvetica,sans-serif;

    &::-webkit-input-placeholder {
      color: transparent;
    }

  }

  // Ugly-ass borders around moderators box, etc (remove it)
  .sidecontentbox .content {
      border: 0;
  }

  // Horizontal rules
  hr {
    height: 1px;
    background-color: $light-grey;
    margin-top: 17px !important;
    clear: both;
  }

  // Login Form
  #login_login-main {
    @extend %card;

    input[type=text], input[type=password] {
      border-width: 0 0 2px 0;
      border-color: $light-grey;
      width: calc(100% - 18px);
      margin-bottom: 8px;
      font: small $sub-font-family;
    }
  }

}
