/* Subscribe Button */
.subscribe-button {
  a {
    &.active {
      @include button(transparent, transparent);
      @include border-radius(50%);
      background: $subscribe-button-color url(%%sub-button%%) left -123px center no-repeat !important;
      float: left;
      display: block;
      width: 64px;
      height: 64px;
      border: 0 !important;
      padding: 0 !important;
      margin: 12px 0;
      color: transparent;
      transition-property: background-position;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.9, -0.4, 0.08, 1.2);
    }

    &.remove:hover {
      background-position: -8px center !important;
    }

    &.add:hover {
      background-position: -242px center !important;
    }
  }
}

// Position subscriber + online counts next to button in a way that doesn't
// hopefully break the universe
.subscribers {
  float:right;
  width: calc(100% - 100px);
  margin: 21px 17px 4px 0;
  color: rgba(0,0,0,0.6);
  font-size: medium;

  .number:after { content: $users-text; }
  .word { display: none; }
}

.users-online {
  float: right;
  display: block;
  width: calc(100% - 81px);
  margin-top: -48px;
  color: rgba(0,0,0,0.6);
  border-bottom: solid 1px rgba(0,0,0,0.2);
  padding-bottom: 16px;

  .number:after { content: $online-text; }
  .word { display: none; }
}

