.submit-page {
  .roundfield {
    @extend %card;
    background-color: lighten($light-grey, 5%);
    .title {
      color: $dark-grey;
    }
  }

  .formtabs-content {
    border: none;
    .infobar {
      border: none;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      background: $submit-page-button-active-background;
      padding: 16px;
      font-weight: bold;
      color: $submit-page-button-active-foreground;
    }
  }

  .formtab {
    padding-left: 0 !important;
    margin: 22px 0 16px -2px;
    a {
      margin: 0 4px;
      font-size: small;
    }
    .selected a {
      background-color: $submit-page-button-active-background;
      color: $submit-page-button-active-foreground;
      font-size: small;
    }
  }
}
