// Entries are things too, import them here
@import "entry";

.thing {
  margin: -8px -16px 8px -16px;  // We might need to play with this for larger post numbers

  &.linkflair {
    &-newQuestionable { @include marker-label($goldenrod); }
    &-newExplicit { @include marker-label($red); }
  }

  .flat-list { clear: both; }

  // Make text contents not be rounded
  .usertext-body>.md {
    @include border-radius(0);
  }

  // Color for visited things
  .title {
    margin-bottom: 6px;


    &:visited .title {
      color: $violet;
    }
  }

  .thumbnail {

    // Flair-specific thumbnails
    &.default {
      @include custom-sprite(0, -430px);
      height: 62px;
    }

    &.self {
      @include custom-sprite(0, -492px);
      height: 64px;
    }

    &.nsfw {
      @include custom-sprite(0, -364px);
      height: 66px;
    }

    // Make thumbnail image occupy its entire area
    img {
      min-height: 52px;
      width: auto;
    }
  }

  a.author {
    color: $dark-grey;
    &.moderator { color: $moderator-highlight;}
  }
}

.link {
  &.last-clicked {
    border: none;
    background: rgba(0,0,0,0.05);
  }
}


// Make sure score is always visible!
.midcol-spacer {
  min-width: 24px;
  width: auto;
}
.midcol {
  @extend .midcol-spacer;
  overflow: visible !important;
}

// User attributes (submitter, moderator, etc)
%userchip {
  &.submitter { @include badge-label($op-highlight, $white); }
  &.moderator { @include badge-label($moderator-highlight, $white); }
}

.userattrs {
  color: transparent;
  font-weight: bold;
  font-size: 12px;
  a { @extend %userchip; }
}

.commentarea .author {
  @extend %userchip;
  text-transform: none !important;
}

.stickied.link a.title { color: $jade !important; }

.tagline .stickied-tagline { @include badge-label($jade, $white); }

// Random thing-related stuff

.expando-button { cursor: pointer; }

.content[role="main"] .nav-buttons {
  margin: 0 -16px -21px -16px;
  padding: 22px;
  background: rgba(0,0,0,0.05);
}

body:not(.res-nightmode) .arrow {
    background-image: url(%%custom-sprites%%) !important;
    &.upmod { background-position: -63px -865px; }
    &.downmod { background-position: -21px -865px; }
    &.up { background-position: -42px -865px; }
    &.down { background-position: 0 -865px; }

}
