.wiki-page {
  // "View", "Edit", etc. Toolbar
  .pageactions {
    display: block;
    border: none;
    background-color: lighten($tabmenu-background, 10%);
    padding-left: 58px;
    padding-top: 4px;
    position: absolute;
    @include border-radius(0px);
    top: 293px;
    left: -9px;
    width: calc(100% - 416px);

    .wikiaction {
      color: #ECEFF1;
      margin: 2px 0 0 0;
      font-weight: bold;
      @include border-radius(0px);

      &-current {
        border-bottom: solid 3px #CFD8DC;
        background: transparent;
      }

      &:hover {
        background: transparent;
        border-bottom: solid 3px #90A4AE;
      }
    }
  }

  // Don't display the titles of the pages, they look gross
  h1.wikititle {
      display:none !important;
  }

  .toc > ul {
    @extend %card;
    border: none !important;
  }

  .wiki-page-content {
    // What is this? Answer: The bottom part
    > em { @extend %content-footer; }

    > hr { display: none; }

    .md ul {
      margin-bottom: 3px;
      margin-top: 3px;
    }

  }

  .toggle-source {
    margin-right: 77px;
    margin-top: 0;
  }

}

.md.wiki {
  overflow-x: auto;
}
